* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background:url("https://izak.aidtaas.com/image/background.png");
  background-size: cover;
  position: fixed;
  top: 0;
  overflow-y: hidden;
}

.topNav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5.13vh;
  position: fixed;
  /* top: 24px; */
  top: 3.66vh !important;
}

.navContent {
  width: 96.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iZAKLogo {
  width: 150px;
  display: flex;
  justify-content: flex-start;
}

.iZAKLogo svg {
  width: 32px;
  height: 32px;
}

.dateTimeTemp {
  width: 250px;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.userProfile {
  width: 310px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}

.signalGif img {
  width: 50px;
  height: 40px;
}

.line {
  width: 1px;
  height: 35px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
}

.NetworkSignal {
  display: flex;
  align-items: center;
}
.NetworkSignal svg {
  width: 28px;
  height: 28px;
}
.NetworkSignal .signalTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NetworkSignal .signalText {
  color: white;
  width: 62px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NetworkSignal .signalText p {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 2px;
}

.NetworkSignal .signalText span {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bellNotification svg {
  width: 40px;
  height: 37px;
}

.profileLogo {
  width: 37px;
  height: 37px;
  background-color: rgb(219, 183, 253);
  border-radius: 50%;
}

.contentContainer {
  display: flex;
  width: 100%;
  /* height: calc(100vh - 5.13vh);  */
  /* height of total height - navbar + top height */
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: flex;
}

.sideNavContent {
  visibility: hidden;
  width: 5%;
  height: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

.iconStyle {
  width: 32px;
  height: 32px;
  font-size: 22px;
  padding-left: 1%;
  padding-right: 1%;
}
.iconStyle svg {
  width: 90%;
}

@media screen and (max-width: 800px) {
  .sideNavContent {
    width: 6%;
  }
}
.mainContainer {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vh;
}

.edit-page {
  width: 100%;
  height: 88.21vh;
}
.heading {
  width: 100%;
  height: 4vh;
  display: flex;
  gap: 2vh;
}
.edit-playbook {
  margin-top: clamp(0.1388875rem, 0rem + 2.2222vw, 13.8889375rem);
  /* margin-left: clamp(0.11284375rem, 0rem + 1.8056vw, 11.28475rem); */
  margin-right: clamp(0.260425rem, 0rem + 4.1667vw, 26.0418125rem);
}
.back-arrow {
  height: 4vh;
  cursor: pointer;
}
.heading p {
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-weight: 600;
  font-family: Lato;
}
.image-container {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: clamp(0.21701875rem, 0rem + 3.4722vw, 21.7015rem);
}
.leftContainer{
display: flex;
flex-direction: column;
}
.selectedImageWrapper {
  width: 38.04vw;
  height: 39.72vh;
  margin-bottom: 2vh;
}

.selectedImageWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.imageWrapper {
  width: 38.04vw;
  height: 11vh;
  display: flex;
  justify-content: space-between;
}

.imageDiv {
  /* width: 79px; */
  /* height: 78px; */
  width: 6.17vw;
  height: 10.83vh;
  display: flex;
}

.imageDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.plusSign {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--Radius-m, 8px);
  border: 2px solid var(--Color, #fff);
  width: 6.17vw;
  height: 10.83vh;
  cursor: pointer;
}

.plusSign img {
  width: 50%;
  object-fit: cover;
  border-radius: 8px;
}
.scannerPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 24vw;
  height: 40.44vh;

  padding: 24px 21px;
  border-radius: var(--Radius-m, 8px);
  background: var(--Color, #fff);
}

.scannerPopupInner {
  height: 34.44vh;
  gap: 3.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scannerPopupInnerImg img {
  width: 14.06vw;
  height: 25vh;
}

.scannerPopupInner p {
  color: #000;
  text-align: center;
  font-family: Lato;
  /* font-size: 18px; */
  font-size: clamp(0.07811875rem, 0rem + 1.25vw, 7.8125rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.empty {
  width: 15%;
}
.playbook-data {
  width: 35%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  /* margin-top: clamp(0.21701875rem, 0rem + 3.4722vw, 21.7015rem); */
}

.playbook-name {
  width: 100%;
  height: 77vh;
}

.input1 {
  width: 100%;
  display: flex;
  align-items: center;
}

.input2 {
  width: 100%;
  display: flex;
}

.input1 > img {
  position: relative;
  left: -8%;
}

.input1 > input {
  display: flex;
  width: 100%;
  height: clamp(0.2083375rem, 0rem + 3.3333vw, 20.8334375rem);
  padding: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem)
    clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #fff;
  background: #2f3134;
  backdrop-filter: blur(6.87976598739624px);
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input1 > input:focus {
  outline: none;
}

.input2 > textarea {
  width: 95.5%;
  height: 19vh;
  padding: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem)
    clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #fff;
  background: #2f3134;
  backdrop-filter: blur(6.87976598739624px);
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
}

.input2 > img {
  position: relative;
  left: -8%;
  width: 24px;
  height: 24px;
  top: 3.5vh;
}

.input1 > textarea:focus {
  outline: none;
}

#characters {
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: italic;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: -0.09527089446783066px;
  text-align: left;
  color: #919191;
  position: relative;
  top: -7%;
  left: 66%;
}

#words {
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: -0.09527089446783066px;
  text-align: left;
  color: #919191;
  position: relative;
  top: 3%;
  left: 48%;
}
.nextButton {
  color: white;
  border: none;
  padding: clamp(0.034625rem, 0rem + 0.5556vw, 3.4625rem)
    clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  cursor: pointer;
  border-radius: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  background: rgba(255, 255, 255, 0.4);
}
