* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #272727;
  position: fixed;
  top: 0;
  overflow-y: hidden;
}

.topNav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5.13vh;
  position: fixed;
  /* top: 24px; */
  top: 3.66vh !important;
}

.navContent {
  width: 96.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iZAKLogo {
  width: 150px;
  display: flex;
  justify-content: flex-start;
}

.iZAKLogo svg {
  width: 32px;
  height: 32px;
}

.dateTimeTemp {
  width: 250px;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.userProfile {
  width: 310px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}

.signalGif img {
  width: 50px;
  height: 40px;
}

.line {
  width: 1px;
  height: 35px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
}

.NetworkSignal {
  display: flex;
  align-items: center;
}
.NetworkSignal svg {
  width: 28px;
  height: 28px;
}
.NetworkSignal .signalTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NetworkSignal .signalText {
  color: white;
  width: 62px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NetworkSignal .signalText p {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 2px;
}

.NetworkSignal .signalText span {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bellNotification svg {
  width: 40px;
  height: 37px;
}

.profileLogo {
  width: 37px;
  height: 37px;
  background-color: rgb(219, 183, 253);
  border-radius: 50%;
}

.contentContainer {
  display: flex;
  width: 100%;
  /* height: calc(100vh - 5.13vh);  */
  /* height of total height - navbar + top height */
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: flex;
}

.sideNavContent {
  visibility: hidden;
  width: 5%;
  height: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

.iconStyle {
  width: 32px;
  height: 32px;
  font-size: 22px;
  padding-left: 1%;
  padding-right: 1%;
}
.iconStyle svg {
  width: 90%;
}

@media screen and (max-width: 800px) {
  .sideNavContent {
    width: 6%;
  }
}
.mainContainer {
  height: inherit;
  width: 100%;
  display: flex;
}
.editcontainer {
  width: 100%;
  height: 88.21vh;
}
.triggers-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: clamp(0.1388875rem, 0rem + 2.2222vw, 13.8889375rem);
  /* margin-left: clamp(0.11284375rem, 0rem + 1.8056vw, 11.28475rem); */
  margin-right: clamp(0.260425rem, 0rem + 4.1667vw, 26.0418125rem);
  margin-bottom: clamp(0.1736125rem, 0rem + 2.7778vw, 17.3611875rem);
}
.top-heading {
  display: flex;
  gap: 2vh;
}
.top-heading p {
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-weight: 600;
  font-family: Lato;
}
.back-arrow {
  height: 4vh;
  cursor: pointer;
}
a {
  color: #ffff;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-weight: 400;
  font-family: Lato;
}
.triggers-list {
  width: 100%;
  height: auto;
  display: flex;
}
.playbook-triggers {
  width: 35%;
  height: auto;
}
.triggers {
  width: 100%;
  display: flex;
  /* margin-left: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem); */
}
.triggers svg {
  border-radius: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
  backdrop-filter: blur(6.87976598739624px);
}
.triggers p {
  font-size: clamp(0.09548125rem, 0rem + 1.5278vw, 9.548625rem);
  font-family: Lato;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin-top: clamp(0.0115rem, 0rem + 0.1852vw, 1.15rem);
}
.trigger-icon {
  position: relative;
  width: 20%;
  height: 9vh;
  margin-right: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  cursor: pointer;
}
.trigger-icon svg {
  position: absolute;
  left: 50px;
}
.icon{
  width: 20%; 
  height: 33%;
  margin-left:clamp(0.034625rem, 0rem + 0.5556vw, 3.4625rem);
  top:5px;
}
.empty-space {
  width: 30%;
  height: auto;
  margin-top: clamp(0.1736125rem, 0rem + 2.7778vw, 17.3611875rem);
}
.input-fields-data {
  width: 30%;
  position: relative;
}
#fname {
  width: 100%;
  padding: 12px 20px;
  margin: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem) 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
  background-color: transparent;
  color: white;
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  outline: none;
  background: #2f3134;
  backdrop-filter: blur(6.87976598739624px);
}
.input-field {
  display: flex;
}

.pencilMark {
  position: absolute;
  right: 12px;
  top: 18px;
}
.selection-data p{
  width: 100%;
  margin-top: clamp(0.13020625rem, 0rem + 2.0833vw, 13.020875rem);
  font-family: Lato;
  font-size: clamp(0.09548125rem, 0rem + 1.5278vw, 9.548625rem);
  font-weight: 400;
  color:  rgba(255, 255, 255, 0.60);
}

