* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: url('https://izak.aidtaas.com/svg/background.svg');
  background-size: cover;
  position: fixed;
  top: 0;
  overflow-y: hidden;
}

.topNav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5.13vh;
  position: fixed;
  /* top: 24px; */
  top: 3.66vh !important;
}

.navContent {
  width: 96.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iZAKLogo {
  width: 150px;
  display: flex;
  justify-content: flex-start;
}

.iZAKLogo svg {
  width: 32px;
  height: 32px;
}

.dateTimeTemp {
  width: 250px;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.userProfile {
  width: 310px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}

.signalGif img {
  width: 50px;
  height: 40px;
}

.line {
  width: 1px;
  height: 35px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
}

.NetworkSignal {
  display: flex;
  align-items: center;
}
.NetworkSignal svg {
  width: 28px;
  height: 28px;
}
.NetworkSignal .signalTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NetworkSignal .signalText {
  color: white;
  width: 62px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NetworkSignal .signalText p {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 2px;
}

.NetworkSignal .signalText span {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bellNotification svg {
  width: 40px;
  height: 37px;
}

.profileLogo {
  width: 37px;
  height: 37px;
  background-color: rgb(219, 183, 253);
  border-radius: 50%;
}

.contentContainer {
  display: flex;
  width: 100%;
  /* height: calc(100vh - 5.13vh);  */
  /* height of total height - navbar + top height */
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: flex;
}

.sideContent {
  visibility: hidden;
  width: 5%;
  height: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

@media screen and (max-width: 800px) {
  .sideNavContent {
    width: 6%;
  }
}
.mainContainer {
  height: inherit;
  width: 100%;
  display: flex;
}

p {
  font-size: clamp(0.13020625rem, 0rem + 2.0833vw, 13.020875rem);
  color: white;
}
.landingcontainer {
  width: 100%;
  height: 88.21vh;
}
.landing-top {
  width: 95%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  margin-top: clamp(0.14756875rem, 0rem + 2.3611vw, 14.757rem);
}

.edit-image {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: clamp(0.13020625rem, 0rem + 2.0833vw, 13.020875rem);
  cursor: pointer;
}
.circleImage {
  position: absolute;
  left: 50px;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: #ffffff1a;
}
.edit-image > img {
  width: 23%;
  height: 40%;
  margin-left: clamp(0.25174375rem, 0rem + 4.0278vw, 25.17375rem);
}
.data {
  width: 100%;
}
.data h1 {
  width: 28%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: clamp(0.1388875rem, 0rem + 2.2222vw, 13.8889375rem);
  color: #ffff;
  font-family: Lato;
  font-weight: 700;
  font-size: clamp(0.15625rem, 0rem + 2.5vw, 15.6250625rem);
}
.list {
  display: flex;
  color: #ffff;
  margin-top: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
  font-family: Lato;
  font-weight: 400;
  font-size: clamp(0.121525rem, 0rem + 1.9444vw, 12.1528125rem);
  opacity: 0.5;
}
.list ul {
  margin-right: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
}
.data p {
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-weight: 400;
  opacity: 0.5;
  margin-top: clamp(0.0115rem, 0rem + 0.1852vw, 1.15rem);
}
.para {
  color: #ffff;
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-weight: 400;
  opacity: 0.5;
  margin-top: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  margin-bottom: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
}
.data img {
  margin-top: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
}
.pauseImageMain {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.pause-image {
  position: relative;
  width: 9%;
  height: 15vh;
  cursor: pointer;
}
.circleImage1 {
  position: absolute;
  left: -1vh;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: #ffffff1a;
}

.pause-image svg {
  position: absolute;
  left: 4px;
}
.pause {
  display: none;
  width: 23%;
  height: 40%;
}
.play {
  width: 23%;
  height: 40%;
}
.landing-bottom p {
  margin-top: clamp(0.30383125rem, 0rem + 4.8611vw, 30.382125rem);
  font-family: Lato;
  font-size: clamp(0.11284375rem, 0rem + 1.8056vw, 11.28475rem);
  font-weight: 400;
}
.lowerContentSlider {
  border: 2px solid white;
  display: flex;
  width: 60%;
  height: 80px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: clamp(0.21701875rem, 0rem + 3.4722vw, 21.7015rem);
}
@media screen and (max-width: 720px) {
  .data h1{
    font-size: clamp(0.11284375rem, 0rem + 1.8056vw, 11.28475rem);
  }
  .landing-top img{
    width: 5%;
  }
  .circleImage1{
    width: 50%;
  }
  .circleImage{
    width: 30%;
    height: 30%;
  }
  .edit-image > img{
    width:17%;
    height: 30%;
    margin-left: 58px;
  }
}
@media screen and (max-width: 1920px) and (min-width: 1200px){
  .edit-image > img{
    margin-left: 58px;
  }
}

