* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.blurred {
  filter: blur(5px);
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  background: url("https://izak.aidtaas.com/image/background.png");
  background-size: cover;
  position: fixed;
  top: 0;
  overflow-y: hidden;
}

.contentContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: flex;
}

.sideContent {
  visibility: hidden;
  width: 5%;
  height: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

@media screen and (max-width: 800px) {
  .sideContent {
    width: 6%;
  }
}
.mainContainer {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vh;
}
.profileContainer {
  width: 100%;
  height: inherit;
  display: flex;
}
.leftContainer {
  width: 35%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.heading {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 1.25vw;
}

.nexusLogoMain {
  width: 40px;
  height: 40px;
}
.heading p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.442px;
}
.dropdown {
  width: 24px;
  height: 24px;
  opacity: 0.7;
}
.profileOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8vh;
  margin-bottom: 15vh;
}
.option {
  width: 100%;
  height: 8vh;
  padding: 3vh;
  gap: 3vh;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.option p {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 20px; */
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 500;
}
.option svg {
  margin-top: 4px;
}

.option:hover {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(88, 88, 88, 0.5);
  box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.2);
}
.option.selected {
  border-radius: 8px;
  background: linear-gradient(96deg, #0b82f9 0.58%, #00478e 100%);
  backdrop-filter: blur(6.87976598739624px);
  color: white;
}
.details {
  display: none;
  margin-top: 20px;
}

#details-option1 {
  display: none;
}
#details-option2 {
  display: none;
}
#details-option3 {
  display: none;
}
#details-option4 {
  display: none;
}
#details-option5 {
  display: none;
}

.logoutButton {
  width: 100%;
  height: 5vh;
  display: flex;
  gap: 3vh;
  margin-left: 20px;
}
.logoutButton p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.empty {
  width: 5%;
  height: inherit;
}
.profile {
  width: 55%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.details {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Buttons {
  width: 100%;
  /* height: inherit; */
  /* overflow-y: scroll; */
  margin-top: 12vh;
}
.Buttons::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.Button {
  position: relative;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: #1e2023;
  border-radius: 8px;
  padding: 3vh 0.5vh;
  margin-bottom: 3vh;
}
.Button:hover {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(88, 88, 88, 0.5);
  box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.2);
}

.Button.selected {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(88, 88, 88, 0.5);
  box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.2);
}

.Button p {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 20px; */
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.096px;

  margin: 0;

  border: none;
  border-radius: 8px;
  padding: 16px 24px;
}

.textAndArrow {
  display: flex;
  align-items: center;
  gap: 0vw;
}

.textAndArrow span {
  color: #a9a9a9;
  text-align: center;
  font-family: Lato;
  /* font-size: 16px; */
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-right: 8px;
}

.arrowMark {
  width: 24px;
  height: 24px;
  fill: #c7c6ca;
  opacity: 0.4;
}
.popup-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}



.popupHeading {
  display: none;
  position: fixed;
  top: 5%;
  left: 10%;
  transform: translate(-50%, -100%);
  z-index: 10000;
  background: red;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.scannerPopup,
.contactPopup {
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 33vw;
  height: 70vh;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

.contactPopupHeader {
  width: 100%;
  background-color: transparent;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactHeading {
  color: #d3d3d3;
  font-family: Lato;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 700;
  margin: 0;
}

.scannerPopupInner,
.contactPopupInner {
  height: calc(100% - 40px);
  gap: 3.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(29, 28, 28);
  padding: 20px 14px 40px 14px;
}

.scannerPopupInnerImg svg,
.contactPopupInnerImg svg {
  width: 30vw;
  height: 38vh;
}

.scannerPopupInner p,
.contactPopupInner p {
  color: #d3d3d3;
  text-align: center;
  font-family: Lato;
  font-size: clamp(0.8rem, 1.25vw, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
}

.scannerPopupInner span,
.contactPopupInner span {
  color: #0b82f9;
  font-family: Lato;
  font-size: clamp(0.8rem, 1.25vw, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.transparentPop {
  background-color: transparent;
  height: 5vh;
}
/* .contactPopupInnerImg img {
  width: 10vw;
  height: 20vh;
} */

.contactHeading {
  color: var(--Fitness-sys-dark-on-surface, #c4c7c4);
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 87.5% */
}

@media only screen and (max-width: 1080px) {
  .arrowMark {
    width: 16px;
    height: 16px;
  }

  .textAndArrow {
    gap: 0vw;
  }
  .scannerPopup,
  .contactPopup {
    width: 38vw;
    height: 64vh;
  }
  .scannerPopupInnerImg svg,
  .contactPopupInnerImg svg {
    width: 22vw;
    height: 30vh;
  }
}
