* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    height: 100vh;
    background: url("https://izak.aidtaas.com/image/background.png");
    background-size: cover;
    position: fixed;
    top: 0;
    overflow-y: hidden;
  }
  

  .contentContainer {
    display: flex;
    width: 100%;
    height: calc(100vh - 8vh);
    margin-top: 8vh;
    overflow-y: hidden;
  }
  
  .mainContainer {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1vh;
  }
  .chooseAccount {
      width: 90%;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: clamp(0.21701875rem, 0rem + 3.4722vw, 21.7015rem);
      margin-left: clamp(0.260425rem, 0rem + 4.1667vw, 26.0418125rem);
    }
    .chooseAccount p {
      color: var(--Fitness-sys-dark-on-surface, #c4c7c4);
      font-family: Lato;
      font-size: clamp(0.1388875rem, 0rem + 2.2222vw, 13.8889375rem);
      font-style: normal;
      font-weight: 700;
      line-height: 28px; 
    }
   
      .logoutButtons {
        height: inherit;
        overflow-y: scroll;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        flex-direction: column;
        margin-top: 10vh;
      }
      
      .logoutButtons::-webkit-scrollbar {
        width: 0;
        background: transparent;
      }
      .Button {
        width: 48.75vw;
        height: 10vh;
        padding: 3vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;
        margin-bottom: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
        background: #1e2023;
        border-radius: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
        color: white;
      }
    
      .Button:hover{
        border-radius: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(88, 88, 88, 0.5);
        box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.2);
      }
      
      .Button.selected {
        border-radius: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
        background: linear-gradient(96deg, #0b82f9 0.58%, #00478e 100%);
        backdrop-filter: blur(6.87976598739624px);
        color: white;
      }
      
      .Button p {
        color: inherit;
        font-family: Lato;
        font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
        font-style: normal;
        font-weight: 500;
      }
      
      
    .circleSvg,
    .tickMark {
      display: none;
    }
    .Button.selected .circleSvg {
      display: inline-block;
      position: absolute;
      right: 28px;
      z-index: 1;
      width: 30px;
      height: 30px;
    }
    .Button.selected .tickMark {
      display: inline-block;
      position: absolute;
      right: 32px;
      z-index: 1;
      width: 20px;
      height: 20px;
    }
    @media only screen and (max-width: 800px) {
      .Button.selected .circleSvg {
        right: 22px;
        width: 20px;
        height: 20px;
      }
      .Button.selected .tickMark {
        right: 24px;
        width: 14px;
        height: 14px;
      }
      .Button {
        height: 6vh;
        margin-bottom: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
      }
      .logoutButtons{
        margin-top: 6vh;
      }
    }