* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: url("https://izak.aidtaas.com/image/background.png");
  background-size: cover;
  position: fixed;
  top: 0;
  overflow-y: hidden;
}

.contentContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: flex;
}

.sideNavContent {
  visibility: hidden;
  width: 5%;
  height: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

@media screen and (max-width: 800px) {
  .sideNavContent {
    width: 6%;
  }
}
.mainContainer {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vh;
}
.profileContainer {
  width: 100%;
  height: inherit;
  display: flex;
}
.leftContainer {
  width: 35%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.heading {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 1.25vw;
}

.nexusLogoMain {
  width: 40px;
  height: 40px;
}
.heading p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.442px;
}
.dropdown {
  width: 24px;
  height: 24px;
  opacity: 0.7;
}
.profileOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8vh;
  margin-bottom: 15vh;
}
.option {
  width: 100%;
  height: 8vh;
  padding: 3vh;
  gap: 3vh;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.option p {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 20px; */
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 500;
}
.option svg {
  margin-top: 4px;
}

.option:hover{
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(88, 88, 88, 0.5);
  box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.2); 
}
.option.selected {
  border-radius: 8px;
  background: linear-gradient(96deg, #0b82f9 0.58%, #00478e 100%);
  backdrop-filter: blur(6.87976598739624px);
  color: white;
}
.details {
  display: none;
  margin-top: 20px;
}

.logoutButton {
  width: 100%;
  height: 5vh;
  display: flex;
  gap: 3vh;
  margin-left: 20px;
}
.logoutButton p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.empty {
  width: 5%;
  height: inherit;
}
.profile {
  width: 55%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.details {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#details-option1{
  display: none;
}
#details-option2{
  display: none;
}#details-option3{
  display: none;
}
#details-option5{
  display: none;
}
#details-option6{
  display: none;
}
.profileName {
  width: 100%;
  height: 50vh;
  display: flex;
  gap: 5vh;
  margin-bottom: 25px;
  /* flex-direction: column; */
}
.profilepic {
  width: 60%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.profilePic {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}
.profilePic img {
  width: 100%;
  height: 30vh;
}
.profileData {
  width: 100%;
  height: 26vh;
  /* border: 2px solid yellow; */
  position: absolute;
  top: 24vh;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(27.5px);
  padding: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
}
.namePoints {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 24px; */
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.namePoints svg {
  margin-left: 10vh;
}

.svgAndday{
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.svgAndday svg{
 width: 24px;
 height: 24px;
}

.SvgAndtext{
  display: flex;
  gap: 0.5vw;
}
.SvgAndtext svg{
  width: 24px;
  height: 24px;
}
.SvgAndtext p{
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
}

.name {
  color: #d9d9d9;
  font-family: Lato;
  /* font-size: 16px; */
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}
.day {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
  gap: 1vh;
}

.day p {
  color: var(--Grey-200, #d3d3d3);
  text-align: center;
  font-family: Lato;
  /* font-size: 20px;*/
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.walletMoney {
  display: flex;
  align-items: center;
  margin-left: 2vw;
  gap: 2vh;
}
.walletMoney svg{
  width: 24px;
  height: 24px;
}
.walletMoney p{
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);

}
.city {
  display: flex;
  margin-top: 2.22vh;
  color: var(--Grey-200, #d3d3d3);
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  gap: 1vh;
}
.city svg{
  width: 24px;
  height: 24px;
}
.city p{
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);

}
.points {
  width: 50%;
  height: 50vh;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(27.5px);
  border: 1px solid white;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ButtonsRewards {
  width: 100%;
  height: inherit;
  /* margin-top: 12vh; */
  overflow-y: scroll;

}
.ButtonsRewards::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.ButtonReward {
  position: relative;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: #1e2023;
  border-radius: 8px;
  padding: 3vh 0.5vh;
  margin-bottom: 3vh;
}
.ButtonReward:hover{
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(88, 88, 88, 0.5);
  box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.2);
}

.ButtonReward.selected {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(88, 88, 88, 0.5);
  box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.2);
}

.ButtonReward p {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 20px; */
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.096px;

  margin: 0;

  border: none;
  border-radius: 8px;
  padding: 16px 24px;
}

.textAndArrow {
  display: flex;
  align-items: center;
  gap: 0vw;
}

.textAndArrow span {
  color: #a9a9a9;
  text-align: center;
  font-family: Lato;
  /* font-size: 16px; */
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-right: 8px;
}

.arrowMark {
  width: 24px;
  height: 24px;
  fill: #c7c6ca;
  opacity: 0.4;
}

@media only screen and (max-width: 1080px) {
  .arrowMark {
    width: 16px;
    height: 16px;
  }

  .textAndArrow {
    gap: 0vw;
  }

  .svgAndday{
    gap: 0.4vw;
  }
  .svgAndday svg{
    width: 16px;
    height: 16px;
  }

  .SvgAndtext{
    gap: 0.2vw;
  }
  .SvgAndtext svg{
    width: 16px;
    height: 16px;
  }

  .walletMoney {
    margin-left: 1vw;
    gap: 1vh;
  }
  .walletMoney svg{
    width: 16px;
    height: 16px;
  }

  .city svg{
    width: 16px;
    height: 16px;
  }
}