* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: url("profileimages/background\ \(1\).png");
  background-size: cover;
  position: fixed;
  top: 0;
  overflow-y: hidden;
}

.topNav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5.13vh;
  position: fixed;
  /* top: 24px; */
  top: 3.66vh !important;
}

.navContent {
  width: 96.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iZAKLogo {
  width: 150px;
  display: flex;
  justify-content: flex-start;
}

.iZAKLogo svg {
  width: 32px;
  height: 32px;
}

.dateTimeTemp {
  width: 250px;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.userProfile {
  width: 310px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}

.signalGif img {
  width: 50px;
  height: 40px;
}

.line {
  width: 1px;
  height: 35px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
}

.NetworkSignal {
  display: flex;
  align-items: center;
}
.NetworkSignal svg {
  width: 28px;
  height: 28px;
}
.NetworkSignal .signalTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NetworkSignal .signalText {
  color: white;
  width: 62px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NetworkSignal .signalText p {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 2px;
}

.NetworkSignal .signalText span {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bellNotification svg {
  width: 40px;
  height: 37px;
}

.profileLogo {
  width: 37px;
  height: 37px;
  background-color: rgb(219, 183, 253);
  border-radius: 50%;
}

.contentContainer {
  display: flex;
  width: 100%;
  /* height: calc(100vh - 5.13vh);  */
  /* height of total height - navbar + top height */
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: flex;
}

.sideNavContent {
  visibility: hidden;
  width: 5%;
  height: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

.iconStyle {
  width: 32px;
  height: 32px;
  font-size: 22px;
  padding-left: 1%;
  padding-right: 1%;
}
.iconStyle svg {
  width: 90%;
}

@media screen and (max-width: 800px) {
  .sideNavContent {
    width: 6%;
  }
}
.mainContainer {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vh;
}
.profileContainer {
  width: 100%;
  height: inherit;
  display: flex;
}
.leftContainer {
  width: 35%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.heading {
  width: 100%;
  height: 5vh;
  display: flex;
  gap: 2vh;
  margin-bottom: 30px;
}
.heading p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.442px;
}
.dropdown {
  opacity: 0.7;
}
.profileOptions {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 35%;
}
.option {
  width: 100%;
  height: 5vh;
  gap: 3vh;
  display: flex;
  height: 56px;
  padding: 0 16px;
  align-items: center;
}
.option p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}
.option svg {
  margin-top: 4px;
}
.option {
  cursor: pointer;
}
.option.selected {
  border-radius: 8px;
  background: linear-gradient(96deg, #0b82f9 0.58%, #00478e 100%);
  backdrop-filter: blur(6.87976598739624px);
  color: white;
}
.details {
  display: none;
  margin-top: 20px;
}

.logoutButton {
  width: 100%;
  height: 5vh;
  display: flex;
  gap: 3vh;
  margin-left: 20px;
}
.logoutButton p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.empty {
  width: 5%;
  height: inherit;
}
.profile {
  width: 55%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.details {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#details-option1 {
  display: flex;
  flex-direction: column;
}
.profileName {
  width: 100%;
  height: 50vh;
  display: flex;
  /* flex-direction: column; */
}
.profilepic {
  width: 50%;
  height: 50vh;
}
.points {
  width: 50%;
  height: 50vh;
}
.Buttons {
  width: 100%;
  height: inherit;
  overflow-y: scroll;
}
.Buttons::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.Button1 p {
  width: 100%;
  height: 10vh;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.095px;
  border: none;
  border-radius: 8px;
  background: #1e2023;
  backdrop-filter: blur(10px);
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.Button1 {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.arrowMark {
  position: absolute;
  margin-left: 93%;
  top: 3vh;
}
.History p {
  color: var(--Grey-200, #d3d3d3);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Data {
  display: flex;
  /* justify-content: space-between; */
  gap: 3vh;
  margin-top: 24px;
}
.data1 p {
  color: #ebeaea;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
.data2 p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}
.data3 p {
  color: var(--Grey-200, #d3d3d3);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 32px;
}
.bullet-points {
  color: var(--Grey-200, #d3d3d3);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-left: 20px;
  margin-top: 24px;
}
.data4 p {
  margin-top: 10px;
  color: var(--Grey-200, #d3d3d3);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.deliveryDetails {
  display: flex;
  margin-top: 24px;
  width: 100%;
  height: 25vh;
  border-radius: var(--Radius-m, 8px);
  background: rgba(255, 255, 255, 0.44);
  background-blend-mode: overlay;
  backdrop-filter: blur(40px);
  padding: 16px;
  background: url("profileimages/background\ \(1\).png");
  background-size: cover;
}
.productImage {
  width: 35%;
  height: 20vh;
  background: url("profileimages/image\ 161.png");
  background-size: cover;
  border-radius: 8px;
}
.estimation {
  display: flex;
  flex-direction: column;
  /* padding: 16px; */
}
.deliveryEst {
  display: flex;
  gap: 1vh;
  padding: 0 16px;
}
.delivered p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.7;
}
.date p {
  opacity: 0.7;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}
.Qty p {
  color: #238efa;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.productName {
  padding: 0 16px;
}
.ratingChat{
    display: flex;
    width: 100%;
    height: 5vh;
}
.rating{
    display: flex;
    padding: 16px;
    gap: 1vh;
}
.rating p{
    margin-top: 0;
}
.mailChat{
    display: flex;
    padding: 16px;
    gap:1vh;
}
.mailChat p{
    margin-top: 0;
}
.rate{
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: space-between;
}
.sold p{
    color: #D9D9D9;
font-family: Lato;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 16px;
margin-top: 0;
}
.dollarRate p{
    color: var(--Color, #FFF);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}