* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: url("https://izak.aidtaas.com/image/background.png");
  background-size: cover;
  position: fixed;
  top: 0;
  overflow-y: hidden;
}

.contentContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: flex;
}

.sideNavContent {
  visibility: hidden;
  width: 5%;
  height: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

@media screen and (max-width: 800px) {
  .sideNavContent {
    width: 6%;
  }
}
.mainContainer {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vh;
}
.walletContainer {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  margin-top: 8px;
  /* top: 0; */
}
.walletContainer p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Balance-Points {
  width: 90%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.Balance {
  width: 90%;
  height: 5vh;
  display: flex;
  gap: 15vh;
  margin-bottom: 15px;
}
.Balance p {
  color: #d9d9d9;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
}
.Balance span {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 91.667% */
}
.money {
  display: flex;
  gap: 1vh;
}
.money p {
  color: var(--Color, #fff);
  text-align: right;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.Points {
  width: 90%;
  height: 5vh;
  display: flex;
  gap: 16vh;
}
.Points p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 91.667% */
  margin-top: 0.4vh;
}
.Points a {
  color: #0b82f9;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  text-decoration: none;
}
.Cards {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.Cards p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  margin-bottom: 24px;
}
.cardImages {
  width: 100%;
  display: flex;
  gap: 10vh;
}
.card1 {
  width: 30%;
  height: 33vh;
  background: url("profileimages/Card\ Rectangle.png");
  background-size: cover;
  padding-left: 35px;
}
.cardName {
  width: 100%;
  height: 5vh;
  display: flex;
  gap: 1vh;
  padding-top: 20px;
}
.cardName p {
  color: #fdfdfd;
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 114.286% */
  letter-spacing: 2px;
  padding-top: 6px;
}
.masked-card-number {
  width: 100%;
  height: 5vh;
  margin-top: 10px;
  color: rgba(212, 212, 212, 0.8);
  text-align: flex-start;
  text-shadow: -1px 5px 4px rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: 2px;
  column-gap: 30px;
  display: flex;
  margin-top: 20px;
}
.chipWifi {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  /* gap: 26vh; */
}

.cardHolder {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}
.holderName { 
    margin-top: 35px;
  display: flex;
  gap: 2vh;
}
.holderName p {
  color: rgba(197, 197, 197, 0.8);
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.03);
  font-family: "IBM Plex Mono";
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cardType img {
  padding-top: 20px;
  /* margin-right: 8vh; */
}

.card2 {
  width: 30%;
  height: 33vh;
  background: url("profileimages/Card\ Rectangle.png");
  background-size: cover;
  padding-left: 35px;
}
.card3 {
  width: 30%;
  height: 33vh;
  background: url("profileimages/Card\ Rectangle.png");
  background-size: cover;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addCard {
  display: inline-flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 24px;
}
.addCard svg {
  width: 20px;
  height: 20px;
}
.addCard p {
  color: #aeaeae;
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 66.667% */
}
.accounts{
  width: 100%;
  height: 20vh;
}
.linkedAccounts p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.radio-form {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radio-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.radio-group input[type="radio"] {
  margin-right: 10px;
}


.radio-group1{
  display: flex;
  gap: 5vh;
}
.radio-group2{
  display: flex;
  gap: 7vh;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
}

/* Color for checked radio button */
input[type="radio"]:checked {
  background-color: white;
  box-shadow: inset 0 0 0 3px black;
  
}
.radio-group3{
  display: flex;
  gap: 9vh;
}
.radio-group label {
  color: #c4c7c4;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.radio-group3 a{
  color: #0b82f9;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  text-decoration: none;
  margin-top: 10px;
}


/* @media only screen and (min-width: 2000px) and (min-width:1900px) {
  .cardType img {
    padding-top: 20px;
    margin-right: 2vh;
  }

} */