* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: url("https://izak.aidtaas.com/image/background.png");
  background-size: cover;
  position: fixed;
  top: 0;
  overflow-y: hidden;
}

.contentContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: flex;
}

.sideNavContent {
  visibility: hidden;
  width: 5%;
  height: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

@media screen and (max-width: 800px) {
  .sideNavContent {
    width: 6%;
  }
}
.mainContainer {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vh;
}
.walletContainer {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
}
.walletContainer p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Balance-Points {
  width: 90%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  margin-top: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
}
.Balance {
  width: 90%;
  height: 5vh;
  display: flex;
  gap: 15vh;
  margin-bottom: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
}
.Balance p {
  color: #d9d9d9;
  font-family: Lato;
  font-size: clamp(0.07811875rem, 0rem + 1.25vw, 7.8125rem);
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.Balance span {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.money {
  display: flex;
  gap: 1vh;
}
.money p {
  color: var(--Color, #fff);
  text-align: right;
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.Points {
  width: 90%;
  height: 5vh;
  display: flex;
  gap: 16vh;
}
.Points p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.07811875rem, 0rem + 1.25vw, 7.8125rem);
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-top: 0.4vh;
}
.Points a {
  color: #0b82f9;
  font-family: Roboto;
  font-size: clamp(0.07811875rem, 0rem + 1.25vw, 7.8125rem);
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
}
.Cards {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  margin-top: clamp(0.1736125rem, 0rem + 2.7778vw, 17.3611875rem);
}
.Cards p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
}
.cardImages {
  width: 100%;
  display: flex;
  gap: 10vh;
}
.card1 {
  width: 30%;
  height: 33vh;
  background: url("profileimages/Card\ Rectangle.png");
  background-size: cover;
  padding-left: clamp(0.15625rem, 0rem + 2.5vw, 15.6250625rem);
}
.cardName {
  width: 100%;
  height: 5vh;
  display: flex;
  gap: 1vh;
  padding-top: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
}
.cardName p {
  color: #fdfdfd;
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 2px;
  padding-top: clamp(0.01725rem, 0rem + 0.2778vw, 1.725rem);
}
.masked-card-number {
  width: 100%;
  height: 5vh;
  margin-top: clamp(0.034625rem, 0rem + 0.5556vw, 3.4625rem);
  color: rgba(212, 212, 212, 0.8);
  text-align: flex-start;
  text-shadow: -1px 5px 4px rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2px;
  column-gap: 30px;
  display: flex;
  margin-top: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
}
.chipWifi {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.cardHolder {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}
.holderName {
  margin-top: clamp(0.15625rem, 0rem + 2.5vw, 15.6250625rem);
  display: flex;
  gap: 2vh;
}
.holderName p {
  color: rgba(197, 197, 197, 0.8);
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.03);
  font-family: "IBM Plex Mono";
  font-size: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cardType img {
  padding-top: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
}

.card2 {
  width: 30%;
  height: 33vh;
  background: url("profileimages/Card\ Rectangle.png");
  background-size: cover;
  padding-left: clamp(0.15625rem, 0rem + 2.5vw, 15.6250625rem);
}
.card3 {
  width: 30%;
  height: 33vh;
  background: url("profileimages/Card\ Rectangle.png");
  background-size: cover;
  padding-left: clamp(0.15625rem, 0rem + 2.5vw, 15.6250625rem);
  padding-right: clamp(0.034625rem, 0rem + 0.5556vw, 3.4625rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addCard {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.addCard svg {
  width: 20px;
  height: 20px;
}
.addCard p {
  color: #aeaeae;
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.accounts {
  width: 100%;
  height: 20vh;
}
.linkedAccounts p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.radio-form {
  margin-top: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radio-group {
  margin-bottom: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  display: flex;
  justify-content: space-between;
}

.radio-group input[type="radio"] {
  margin-right: clamp(0.034625rem, 0rem + 0.5556vw, 3.4625rem);
}

.radio-group1 {
  display: flex;
  gap: 5vh;
}
.radio-group2 {
  display: flex;
  gap: 7vh;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: white;
  box-shadow: inset 0 0 0 3px black;
}
.radio-group3 {
  display: flex;
  gap: 9vh;
}
.radio-group label {
  color: #c4c7c4;
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.radio-group3 a {
  color: #0b82f9;
  font-family: Roboto;
  font-size: clamp(0.07811875rem, 0rem + 1.25vw, 7.8125rem);
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
  margin-top: clamp(0.034625rem, 0rem + 0.5556vw, 3.4625rem);
}

@media only screen and (max-width: 750px) {
  .card1 {
    width: 30%;
    height: 28vh;
    background: url("profileimages/Card\ Rectangle.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
  }
  .card2 {
    width: 30%;
    height: 28vh;
    background: url("profileimages/Card\ Rectangle.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
  }
  .card3 {
    width: 30%;
    height: 28vh;
    background: url("profileimages/Card\ Rectangle.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
  }

  .cardImages {
    gap: 3vw;
  }
  .masked-card-number {
    column-gap: 20px;
  }

  .money svg {
    width: 30%;
    height: 5vh;
  }
  .Points a {
    margin-top: 0.5vh;
  }
  input[type="radio"] {
    width: 15px;
    height: 15px;
  }
  .radio-group label {
    margin-top: 0.5vh;
  }
  .amazon img {
    width: 60%;
    margin-top: 1px;
  }
  .apple svg {
    width: 60%;
  }
  .paypal img {
    width: 60%;
  }
  .radio-group svg {
    width: 10%;
  }
}
