* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.curtainContainer {
  width: 868px;
  height: 599px;
  border-radius: var(--Radius-m, 8px);
  border: 1px solid var(--Color, #fff);
  background: linear-gradient(
    128deg,
    #00478e -5.15%,
    rgba(18, 34, 50, 0.44) 50.3%,
    rgba(201, 117, 252, 0.98) 105.74%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(32px);
  display: flex;
  justify-content: center;
}

.contentContainer {
  width: 94%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.topCont {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.topLeftDiv {
  width: auto;
  display: flex;
  align-items: center;
  gap: 45px;
}

#swtichbtn {
  background: radial-gradient(
      104.81% 104.81% at 50% 35.58%,
      #0d6904 0%,
      #13c900 100%
    ),
    #43e533;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
}

.topLeftDivdevicecont {
  display: flex;
  gap: 16px;
}
.topLeftDivdevicecont > img {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  height: auto;
}

.trdivtextCont {
  display: flex;
  flex-direction: column;
}

#curtainmdevicename {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#curtainmdeviceplace {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--Color, #fff);
  text-overflow: ellipsis;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.topRightDiv {
  width: auto;
  display: flex;
  gap: 32px;
}

.rightDivEclipse {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottomCont {
  width: 100%;
  display: flex;
  margin-top: 55px;
  /* justify-content: space-between; */
}

.leftbtmCont {
  width: 50%;
  padding: 57px 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftbtmCont img {
  width: 100%; /* Ensure the image takes up the full width of its container */
}

.overlayText {
  position: absolute;
  top: 48%;
  right: 8%;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  overflow: hidden;
  color: var(--Color, #fff);
  text-align: right;
  text-overflow: ellipsis;
  font-family: Lato;
  /* font-size: 40px; */
  font-size: clamp(0.1736125rem, 0rem + 2.7778vw, 17.3611875rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.overlayText span {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--Color, #fff);
  text-overflow: ellipsis;
  font-family: Lato;
  /* font-size: 24px; */
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rightbtmCont {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rbtmtopCont {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 10%;
}

.Intensitylabel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.speedlabel {
  display: flex;
  gap: 16px;
}

#speedlabelname {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#intensityCount {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.intensitymeter {
  width: 100%;
  position: relative;
}

.intensitymeter > img {
  width: 100%;
}

#sliderSvg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 16px;
  background: transparent;
  outline: none;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 2;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 2;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    #0b82f9 0%,
    #0b82f9 calc((100% / 4) * var(--slider-value)),
    transparent calc((100% / 4) * var(--slider-value)),
    transparent 100%
  );
}

.slider::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    #0b82f9 0%,
    #0b82f9 calc((100% / 4) * var(--slider-value)),
    transparent calc((100% / 4) * var(--slider-value)),
    transparent 100%
  );
}
.fanmeter {
  display: flex;
  align-items: center;
}

.rbtmbtmCont {
  /* border: 1px solid blue; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 7%;
}

.color-picker-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.color-slider {
  width: 100%;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    90deg,
    #f00 0%,
    #ff6b00 14.58%,
    #ffe600 25%,
    #24ff00 40.1%,
    #00fff0 51.56%,
    #0029ff 66.15%,
    rgba(143, 0, 255, 0.78) 73.44%,
    #ff00e5 86.98%,
    #f00 100%
  );
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.color-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #000;
  cursor: pointer;
}

.color-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #000;
  cursor: pointer;
}

.color-display {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
}
.colorlabel span {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 750px) {
  .curtainContainer {
    width: 98%;
    height: 576px;
  }
  .leftbtmCont {
    padding: 10px;
    width: 40%;
  }
  .leftbtmCont > img {
    width: 100%;
  }
  .rightbtmCont {
    width: 55%;
    padding: 10px;
  }
  .overlayText {
    position: absolute;
    top: 50%;
    right: 3%;
  }
}
