* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background: url("https://izak.aidtaas.com/image/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  top: 0;
  overflow-y: hidden;
}

.topNav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5.13vh;
  position: fixed;
  /* top: 24px; */
  top: 3.66vh !important;
}

.navContent {
  width: 97.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iZAKLogo {
  width: 150px;
  display: flex;
  justify-content: flex-start;
}

.iZAKLogo svg {
  width: 32px;
  height: 32px;
}

.dateTimeTemp {
  width: 250px;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.userProfile {
  width: 310px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}

.signalGif img {
  width: 50px;
  height: 40px;
}

.line {
  width: 1px;
  height: 35px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
}

.NetworkSignal {
  display: flex;
  align-items: center;
}
.NetworkSignal svg {
  width: 28px;
  height: 28px;
}
.NetworkSignal .signalTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NetworkSignal .signalText {
  color: white;
  width: 62px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NetworkSignal .signalText p {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 2px;
}

.NetworkSignal .signalText span {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bellNotification svg {
  width: 40px;
  height: 37px;
}

.profileLogo {
  width: 37px;
  height: 37px;
  background-color: rgb(219, 183, 253);
  border-radius: 50%;
}

.contentContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.sideNavContent {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
  transition: width 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  padding-left: 1.4%;
}

.sideNavContent:hover {
  width: 300px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  /* background: linear-gradient(90deg, #1C1C1C 0.11%, #202020 5.63%, rgba(32, 32, 32, 0.92) 21.86%, rgba(32, 32, 32, 0.47) 29.04%, rgba(32, 32, 32, 0.00) 99.89%); */
}

.iconStyle {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.iconStyle img {
  width: 32px;
  height: 32px;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.iconStyle:hover img {
  background-color: #777;
}

.icon-text {
  margin-left: 20px;
  color: gray;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.sideNavContent:hover .icon-text {
  opacity: 1;
}

.iconStyle:hover .icon-text {
  color: white;
}

.iconStyle.selected img {
  box-shadow: 0 0 10px white;
}

.iconStyle.selected ~ .icon-text {
  color: white;
}

.sideNavContent .white-line {
  width: 40px;
  height: 6px;
  border-radius: 4px 4px 0px 0px;
  background: var(--Color, #fff);
  position: absolute;
  left: -36px;
  top: 46%;
  transform: translateY(-50%);
  transform: rotate(90deg);
  display: none;
}

.iconStyle.selected .white-line {
  display: block;
}

@media only screen and (max-width: 1080px) {
  .sideNavContent {
    width: 6%;
    padding-left: 1%;
  }
  .iconStyle img {
    width: 22px;
    height: 22px;
    padding-right: 1%;
  }

  .userProfile {
    width: 290px;
    gap: 2px;
  }

  .signalGif img {
    width: 40px;
    height: 30px;
  }

  .bellNotification svg {
    width: 28px;
    height: 25px;
  }

  .profileLogo {
    width: 27px;
    height: 27px;
    background-color: rgb(219, 183, 253);
    border-radius: 50%;
  }

  .NetworkSignal svg {
    width: 25px;
    height: 25px;
  }

  .NetworkSignal .signalText {
    width: 52px;
    height: 12px;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
  .sideNavContent .white-line {
    width: 45px;
    height: 6px;
    border-radius: 4px 4px 0px 0px;
    background: var(--Color, #fff);
    position: absolute;
    left: -43px;
    top: 46%;
  }
}

.mainContainer {
  height: inherit;
  width: 94.5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vh;
  margin-left: 5%;
}

.upperContent {
  width: 99%;
  height: 16.55vh;
  display: flex;
  margin-bottom: 4vh;
}
.upperContentLeft {
  border: 1px solid white;
  width: 50%;
  /* height: 112px; */
  height: 16.55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.progressBar {
  border: 0.5px solid white;
  width: 50%;
  height: 16.55vh;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  border: 0.5px solid white;
  width: 50%;
  height: 16.55vh;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upperContentRight {
  border: 1px solid white;
  width: 50%;
  height: 16.55vh !important;
  position: relative;
}
.upperContentRightSlider {
  border: 1px solid white;
  width: 100%;
  /* height: 69px; */
  height: 9.72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.Playbooks p {
  position: absolute;
  bottom: 0;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.095px;
}

.Playbooks span {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.095px;
  opacity: 0.7;
}
.middleContent {
  width: 99%;
  display: flex;
  position: relative;
  margin-bottom: 5vh;
}
.middleContentLeft {
  width: 50%;
  height: 43vh;
}

.Recording {
  position: absolute;
  top: 14px;
  left: 12px;
}

.Recording span {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.099px;
}

.Recording svg {
  width: 8px;
  height: 8px;
  fill: #ff4b4b;
  filter: drop-shadow(1px 1px 8px rgba(255, 75, 75, 0.8));
}
.middleContentLeft p {
  position: absolute;
  bottom: 14px;
  left: 12px;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.099px;
}

.middleContentLeft img {
  width: 100%;
  height: 43vh;
  border-radius: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
  object-fit: cover;
}

.middleContentRight {
  border: 1px solid white;
  width: 50%;
  height: 43vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.lowerContent {
  position: relative;
  width: 99%;
}
.lowerContent p {
  width: 100%;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.095px;
}

.lowerContent span {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.095px;
  opacity: 0.7;
}

.lowerContentSliderMain {
  border: 2px solid white;
  display: flex;
  width: 100%;
  height: 15.97vh;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.lowerContentSlider {
  border: 2px solid white;
  display: flex;
  width: 100%;
  height: 9.72vh;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nexusLogo img {
  width: 48px;
  height: 15px;
  flex-shrink: 0;
  opacity: 0.4;
  position: absolute;
  bottom: 5px;
  left: -30px;
}
