* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #272727;
  position: fixed;
  top: 0;
  overflow-y: hidden;
}

.topNav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5.13vh;
  position: fixed;
  /* top: 24px; */
  top: 3.66vh !important;
}

.navContent {
  width: 96.25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iZAKLogo {
  width: 150px;
  display: flex;
  justify-content: flex-start;
}

.iZAKLogo svg {
  width: 32px;
  height: 32px;
}

.dateTimeTemp {
  width: 250px;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.userProfile {
  width: 310px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6px;
}

.signalGif img {
  width: 50px;
  height: 40px;
}

.line {
  width: 1px;
  height: 35px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
}

.NetworkSignal {
  display: flex;
  align-items: center;
}
.NetworkSignal svg {
  width: 28px;
  height: 28px;
}
.NetworkSignal .signalTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.NetworkSignal .signalText {
  color: white;
  width: 62px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NetworkSignal .signalText p {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 2px;
}

.NetworkSignal .signalText span {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bellNotification svg {
  width: 40px;
  height: 37px;
}

.profileLogo {
  width: 37px;
  height: 37px;
  background-color: rgb(219, 183, 253);
  border-radius: 50%;
}

.contentContainer {
  display: flex;
  width: 100%;
  /* height: calc(100vh - 5.13vh);  */
  /* height of total height - navbar + top height */
  height: calc(100vh - 8vh);
  margin-top: 8vh;
  overflow-y: hidden;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
}

.sideNavContent {
  width: 5%;
  height: inherit;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vh;
}

.iconStyle {
  width: 32px;
  height: 32px;
  font-size: 22px;
  padding-left: 1%;
  padding-right: 1%;
}
.iconStyle svg {
  width: 90%;
}

@media screen and (max-width: 800px) {
  .sideNavContent {
    width: 6%;
  }
}

.mainContainer {
  height: inherit;
  width: 100%;
  display: flex;
  fill: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(175px);
  margin-top: 1vh;
}

.contentWrapper {
  width: 96%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: clamp(0.1388875rem, 0rem + 2.2222vw, 13.8889375rem);
}

.devicesHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightdivheader {
  display: flex;
  width: 100%;
  align-items: center;
}

#span1 {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 24px; */
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.line {
  width: 1px;
  height: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  opacity: 0.7;
  background: var(--Color, #fff);
  /* margin: 0 8px; */
  margin: 0 clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
}

#span2 {
  color: rgba(255, 255, 255, 0.7);
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.5vh;
}

.colored {
  background-color: #238efa !important;
}

.gridIconContainer {
  width: 3.5%;
  height: clamp(0.1736125rem, 0rem + 2.7778vw, 17.3611875rem);
  /* margin-left: 28px; */
  margin-left: clamp(0.121525rem, 0rem + 1.9444vw, 12.1528125rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff33;
  cursor: pointer;
}

.gridIconContainer:hover {
  border-radius: 80px;
  border: 1px solid var(--Foundation-Blue-blue-500, #238efa);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 21px 0px rgba(255, 255, 255, 0.2);
}

.gridIconContainer > img {
  width: 50%;
  height: 50%;
}

.listIconContainer {
  width: 3.5%;
  height: clamp(0.1736125rem, 0rem + 2.7778vw, 17.3611875rem);
  /* margin-left: 24px; */
  margin-left: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff33;
  cursor: pointer;
}

.listIconContainer:hover {
  border-radius: 80px;
  border: 1px solid var(--Foundation-Blue-blue-500, #238efa);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 21px 0px rgba(255, 255, 255, 0.2);
}

.listIconContainer > img {
  width: 50%;
  height: 50%;
}

.activeGridList {
  background: var(--Icon_blue, #1969e0);
  border: 1px solid #1969e0;
}

.activeGridList:hover {
  background: var(--Icon_blue, #1969e0);
  border: 1px solid #1969e0;
  box-shadow: none;
}

.leftdivheader {
  display: flex;
  width: auto;
  align-items: center;
  gap: 16px;
}

.imgCont1,
.imgCont2,
.imgCont3 {
  width: clamp(0.1736125rem, 0rem + 2.7778vw, 17.3611875rem);
  height: clamp(0.1736125rem, 0rem + 2.7778vw, 17.3611875rem);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 80px;
}

.imgCont1:hover,
.imgCont2:hover,
.imgCont3:hover {
  border-radius: 80px;
  border: 1px solid var(--Foundation-Blue-blue-500, #238efa);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 21px 0px rgba(255, 255, 255, 0.2);
}

.imgCont3 > img {
  width: 50%;
}

.imgCont1 > img,
.imgCont2 > img {
  width: 50%;
}

#filterScreen {
  width: 100%;
  height: auto;
  /* display: none; */
  flex-direction: column;
}

#defaultScreen {
  width: 100%;
  height: auto;
  /* display: none; */
  flex-direction: column;
  overflow-x: auto;
  overflow-y: scroll; 
  margin-top: 2vh;
}

#defaultScreen::-webkit-scrollbar {
  width: 0.5vw;
}

#defaultScreen::-webkit-scrollbar-track {
  border-radius: 8px;
  opacity: 0.1;
  background: #f1f1f1;
}

#defaultScreen::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #0b82f9;
}


#updatingDevice{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: scroll; 
  margin-top: 2vh;
}

#listDevicesScreen {
  width: 100%;
  height: inherit;
  /* display: none; */
  flex-direction: column;
  margin-top: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  overflow-x: hidden;
  overflow-y: scroll;
}

#listDevicesScreen::-webkit-scrollbar {
  width: 0.5vw;
}

#listDevicesScreen::-webkit-scrollbar-track {
  border-radius: 8px;
  opacity: 0.1;
  background: #f1f1f1;
}

#listDevicesScreen::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #0b82f9;
}

#listDevicesScreen table {
  border-spacing: 0px;
}

tbody {
  width: 100%;
}

#listDevicesScreen th {
  text-align: left;
  color: var(--Layout-100, #fcfcfc);
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: clamp(0.49947375rem, 0rem + 7.9861vw, 49.947375rem);
  padding-bottom: 30px;
  padding-left: 30px;
}

#head {
  padding: 10px 0;
  height: clamp(0.13020625rem, 0rem + 2.0833vw, 13.020875rem);
}

#listDevicesScreen td {
  color: var(--Layout-100, #fcfcfc);
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-right: clamp(0.49947375rem, 0rem + 7.9861vw, 49.947375rem);
  padding-top: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  padding-bottom: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  padding-left: 30px;
}

#imgtd,
#imgtd1,
#imgtd2,
#imgtd3,
#imgtd4,
#imgtd5,
#imgtd6,
#imgtd7,
#imgtd8,
#imgtd9,
#imgtd10,
#imgtd11 {
  display: flex;
  align-items: center;
  gap: 5px;
}

#newdsspan1,
#newdsspan2,
#newdsspan3 {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  margin-bottom: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
}

#newdsspan1{
  margin-top: 0;
}

#newDevice {
  width: 100%;
  height: auto;
  /* display: flex; */
  flex-direction: column;
}

#nd {
  display: flex;
  align-items: center;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  gap: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  margin-bottom: clamp(0.19965625rem, 0rem + 3.1944vw, 19.965375rem);
}

.ctnCont {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8.5%;
}

.leftndCont {
  width: 32%;
}

.ndimgCont {
  width: 100%;
  height: 27vh;
  margin-bottom: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
}
.ndimgCont > img {
  width: 100%;
  height: inherit;
  border-radius: 8px;
}

#nddevicename {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 600;
}

#timend {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
}

#ndline {
  width: 1px;
  height: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  background: #a7a7a7;
}

#version {
  color: #a7a7a7;
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
}

#warranty {
  color: #a7a7a7;
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
}

#lndCont2,
#lndCont3 {
  display: flex;
  gap: 18%;
  margin-top: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
}

#lndCont1 {
  display: flex;
  gap: 21.5%;
  margin-top: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
}

#labelnd1,
#labelnd2,
#labelnd3 {
  color: #a6a6a6;
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 400;
}

#ndata1,
#ndata2,
#ndata3 {
  color: var(--Color, #fff);
  text-align: right;
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 400;
}

#btnContnd {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
}

#btnContnd > button {
  background: transparent;
  border-radius: 8px;
  border: 1px solid var(--Color, #fff);
  padding: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem)
    clamp(0.121525rem, 0rem + 1.9444vw, 12.1528125rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.07811875rem, 0rem + 1.25vw, 7.8125rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.095px;
  cursor: pointer;
}

.rightndCont {
  width: 40.5%;
  height: 77vh;
  overflow-x: auto;
  overflow-y: scroll;
}

.rightndCont::-webkit-scrollbar {
  width: 0.5vw;
}

.rightndCont::-webkit-scrollbar-track {
  border-radius: 8px;
  opacity: 0.1;
  background: #f1f1f1;
}

.rightndCont::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #0b82f9;
}

.inp1 {
  width: 100%;
  display: flex;
  align-items: center;
}

.inp2 {
  width: 100%;
  display: flex;
}


.inp1 > img {
  position: relative;
  left: -8%;
  width: 2vw;
  height: 4vh;
}

.inp1 > input {
  display: flex;
  width: 95%;
  height: clamp(0.2083375rem, 0rem + 3.3333vw, 20.8334375rem);
  padding: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem)
    clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ffffff6c;
  background: #2f3134;
  backdrop-filter: blur(6.87976598739624px);
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  backdrop-filter: blur(6.87976598739624px);
}

.inp1 > input:focus {
  outline: none;
}

.inp2 > textarea {
  width: 95.5%;
  height: 19vh;
  padding: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem)
    clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ffffff6c;
  background: #2f3134;
  backdrop-filter: blur(6.87976598739624px);
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  scrollbar-width: none;
  backdrop-filter: blur(6.87976598739624px);
}

.inp2 > img {
  position: relative;
  left: -8%;
  width: 2vw;
  height: 4vh;
  top: 3.5vh;
}

.inp2 textarea:focus {
  outline: none;
}


#char {
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: italic;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: -0.09527089446783066px;
  text-align: left;
  color: #919191;
  position: relative;
  top: -5%;
  left: 69%;
}

#word {
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: -0.09527089446783066px;
  text-align: left;
  color: #919191;
  position: relative;
  top: 0.5%;
  left: 50%;
}

#backnd{
  width: 3vw;
  cursor: pointer;
}

#scontndform {
  display: flex;
  height: auto;
  flex-direction: column;
}

#ndfsctitle {
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.09527089446783066px;
  text-align: left;
  color: #ffffff;
}

#newspace {
  width: 95%;
  color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ffffff6c;
  background: #2f3134;
  backdrop-filter: blur(6.87976598739624px);
  padding: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem)
    clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  cursor: pointer;
}

#spaces1,
#spaces2 {
  width: 95%;
  height: 17.77vh;
  background: url("https://izak.aidtaas.com/image/livingroom.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  mix-blend-mode: luminosity;
  border-radius: 8px;
  margin-top: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  margin-bottom: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  z-index: 100;
}

#cov1,
#cov2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0.13%,
    rgba(0, 0, 0, 0) 80.19%
  );
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
}

#cov1span1,
#cov1span2 {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.iconcontnd {
  display: flex;
  gap: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
}

.oneiconcontnd {
  width: clamp(0.1388875rem, 0rem + 2.2222vw, 13.8889375rem);
  height: clamp(0.1388875rem, 0rem + 2.2222vw, 13.8889375rem);
  border-radius: 72px;
  background: rgba(168, 168, 168, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.oneiconcontnd > img {
  width: 50%;
}

#fourimg1,
#fourimg2 {
  width: 50%;
}

#popup {
  display: none;
  width: 624px;
  padding: 24px 24px 16px 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  border-radius: var(--Radius-m, 8px);
  background: #1e1e1e;
  top: 7vh;
  left: 25%;
}

.versioncol {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #ffffff33;
  width: 100%;
  padding-bottom: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
}

#span854 {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 1px solid #ffffff33;
  width: 100%;
  padding-bottom: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
}

#versioncolspani1,
#versioncolspani2,
#versioncolspani3,
#versioncolspani4 {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#versioncolspand1,
#versioncolspand2,
#versioncolspand3,
#versioncolspand4 {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dbottomContnd {
  width: 115%;
  height: clamp(0.190975rem, 0rem + 3.0556vw, 19.0973125rem);
  background: rgba(50, 50, 50, 0.61);
  position: relative;
  bottom: -15px;
  left: -7%;
}

.dbottomContndud{
  width: 115%;
  height: clamp(0.190975rem, 0rem + 3.0556vw, 19.0973125rem);
  background: rgba(50, 50, 50, 0.61);
  position: relative;
  bottom: -15px;
  left: -7%;
  display: flex;
  justify-content: space-around;
}

.inner {
  width: 65%;
  height: clamp(0.190975rem, 0rem + 3.0556vw, 19.0973125rem);
  background: linear-gradient(
    90deg,
    #0b82f9 -10.77%,
    rgba(11, 130, 249, 0) 95.58%
  );
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.inner > span {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.innerud {
  width: 98%;
  height: clamp(0.190975rem, 0rem + 3.0556vw, 19.0973125rem);
  background: linear-gradient(
    90deg,
    #0b82f9 -10.77%,
    rgba(11, 130, 249, 0) 95.58%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60%;
}

.innerud>span{
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.new {
  width: 22%;
  height: clamp(0.14756875rem, 0rem + 2.3611vw, 14.757rem);
  position: relative;
  border-radius: 20px 8px 0px 20px;
  background: var(--Color, #fff);
  top: -58px;
  left: 84%;
  color: #1969e0;
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newud {
  width: 22%;
  height: clamp(0.14756875rem, 0rem + 2.3611vw, 14.757rem);
  position: relative;
  border-radius: 20px 8px 0px 20px;
  top: -57px;
  left: 84%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.newud > svg {
  width: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  height: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
}

.newud > span {
  color: #fff;
  font-family: Lato;
  font-size: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.filtertype {
  display: flex;
  height: clamp(0.121525rem, 0rem + 1.9444vw, 12.1528125rem);
  gap: 16px;
  /* margin-top: 24px; */
  margin-top: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
}

#span3,
#span4 {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 16px; */
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

#span3,
#span4 {
  cursor: pointer;
}

#span3:hover,
#span4:hover {
  border-bottom: 2px solid rgba(11, 130, 249, 1);
  padding-bottom: clamp(0.008625rem, 0rem + 0.1389vw, 0.8625rem);
}

.underline {
  border-bottom: 2px solid rgba(11, 130, 249, 1);
  padding-bottom: clamp(0.008625rem, 0rem + 0.1389vw, 0.8625rem);
}

.devicesnmanContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* margin-top: 24px; */
  margin-top: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
}

.unitCont {
  width: auto;
  height: auto;
  display: flex;
  padding: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem)
    clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.44);
  background-blend-mode: overlay;
  cursor: pointer;
}

.unitCont > img {
  width: 16px;
  height: 16px;
}

#span5 {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  /* font-size: 14px; */
  /* font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem); */
  font-size: 0.5rem;
  font-size: clamp(
    0.5rem,
    0.03381147540983609rem + 1.0655737704918031vw,
    1.3125rem
  );
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.onoffCont {
  display: flex;
  align-items: center;
  gap: 16px;
  /* margin-top: 28px; */
  margin-top: clamp(0.121525rem, 0rem + 1.9444vw, 12.1528125rem);
}

.on,
.off {
  display: flex;
  padding: 4px clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #fff;
  opacity: 0.4;
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 16px; */
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.on:hover,
.off:hover {
  border: 1px solid #0d6904;
  color: #11a102;
}

.active {
  background: radial-gradient(
      104.81% 104.81% at 50% 35.58%,
      #0d6904 0%,
      #13c900 100%
    ),
    #43e533;
  color: #fff;
  border: 1px solid #43e533;
}

.active:hover {
  border: 1px solid #43e533;
  color: #fff;
}

#span6 {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 16px; */
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.devices {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-top: 24px; */
  margin-top: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  gap: 16px;
  flex-grow: 1;
}

#span7 {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  /* font-size: 16px; */
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.listCont {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 24px;
  column-gap: 20px;
  overflow-x: auto;
  overflow-y: scroll;
}

.listCont::-webkit-scrollbar {
  width: 0.5vw;
}

.listCont::-webkit-scrollbar-track {
  border-radius: 8px;
  opacity: 0.1;
  background: #f1f1f1;
}

.listCont::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #0b82f9;
}

.listContothd {
  width: 100%;
  height: 26vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 24px;
  column-gap: 20px;
  /* overflow-x: auto;
  overflow-y: scroll; */
}

/* .listContothd::-webkit-scrollbar {
  width: 0.5vw;
}

.listContothd::-webkit-scrollbar-track {
  border-radius: 8px;
  opacity: 0.1;
  background: #f1f1f1;
}

.listContothd::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #0b82f9;
} */

.listContns {
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 24px;
  column-gap: 20px;
}

.deviceCont {
  /* width: 276px; */
  width: 23.58%;
  height: max-content;
  border-radius: 8px;
  background: linear-gradient(
    128deg,
    #00478e -5.15%,
    #0b82f970,
    #c975fcb8 105.74%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(32px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

#span8,
#span81,
#span82,
#span83,
#span84,
#span85,
#span86,
#span87,
#span88,
#span89,
#span80,
#span811,
#span822,
#span833,
#span813,
#span8ud,
#span8ud2 {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 20px; */
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* margin-bottom: 8px; */
  margin-bottom: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
}

#span9,
#span91,
#span92,
#span93,
#span94,
#span95,
#span96,
#span97,
#span98,
#span99,
#span90,
#span911,
#span922,
#span923,
#span913,
#span9ud,
#span9ud2 {
  overflow: hidden;
  color: var(--Color, #fff);
  text-overflow: ellipsis;
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.statusCont {
  width: 40%;
  /* height: 112px; */
  height: clamp(0.4879335rem, 0rem + 7.7778vw, 48.79335rem);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}

.statusCont1 {
  width: 40%;
  height: clamp(0.4879335rem, 0rem + 7.7778vw, 48.79335rem);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.statusCont1 > img {
  height: 80%;
  width: 80%;
}

.statusCont > img {
  height: 100%;
}

.spanCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
  margin-top: clamp(0.13020625rem, 0rem + 2.0833vw, 13.020875rem);
}

#span10,
#span101,
#span102,
#span103,
#span104 {
  overflow: hidden;
  color: var(--Color, #fff);
  text-align: center;
  text-overflow: ellipsis;
  font-family: Lato;
  /* font-size: 16px; */
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#span11,
#span111,
#span112,
#span113,
#span114 {
  overflow: hidden;
  color: var(--Color, #fff);
  text-align: center;
  text-overflow: ellipsis;
  font-family: Lato;
  /* font-size: 12px; */
  font-size: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.dbottomCont {
  /* width: 245px; */
  height: auto;
  display: flex;
  justify-content: space-between;
  /* margin-top: 30px; */
  margin-top: clamp(0.13020625rem, 0rem + 2.0833vw, 13.020875rem);
}

.dbLetfCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: max-content;
}

#span12,
#span121,
#span122,
#span123,
#span124,
#span125,
#span126,
#span127,
#span128,
#span129,
#span120,
#span1211,
#span1222,
#span1233,
#span1244,
#span1255,
#span1266,
#span1277,
#span1288,
#span1299,
#span1200,
#span12111,
#span12222,
#span12333 {
  color: #aeaeae;
  text-align: center;
  font-family: Lato;
  /* font-size: 10px; */
  font-size: clamp(0.034625rem, 0rem + 0.5556vw, 3.4625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-bottom: 8px; */
  margin-bottom: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
}

#span13,
#span131,
#span132,
#span133,
#span134,
#span135,
#span136,
#span137,
#span138,
#span139,
#span130,
#span1311,
#span1322,
#span1333,
#span1344,
#span1355,
#span1366,
#span1377,
#span1388,
#span1399,
#span1300,
#span13111,
#span13222,
#span13333 {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin-bottom: 4px; */
  margin-bottom: clamp(0.0115rem, 0rem + 0.1852vw, 1.15rem);
}

#span14,
#span141,
#span142,
#span143,
#span144,
#span145,
#span146,
#span147,
#span148,
#span149,
#span140,
#span1411,
#span1422,
#span1433,
#span1444,
#span1455,
#span1466,
#span1477,
#span1488,
#span1499,
#span1400,
#span14111,
#span14222,
#span14333 {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 12px; */
  font-size: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dbRightCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: max-content;
}

@media screen and (min-width: 700px) and (max-width: 750px) {
  .mainContainer {
    margin-top: 2vh;
  }
  .dbottomContnd {
    width: 125%;
    left: -11%;
  }
  .inner > img {
    width: 15px;
    height: 15px;
  }
  #listDevicesScreen td {
    padding-left: 0;
  }
  .new {
    top: -38px;
    left: 90%;
  }
  .newud{
    top: -25px;
  }
  .dbottomContndud{
    width: 125%;
    left: -13%;
  }
  .innerud{
    gap: 50%;
  }
  .innerud>img{
    width: 12px;
    height: 12px;
  }
  .inp1>img{
    width: 12px;
    height: 12px;
  }
  .inp2>img{
    width: 12px;
    height: 12px;
  }
  #popup{
    width: 400px;
    left: 18%;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .listCont {
    height: 51vh;
  }
  .new {
    top: -58px;
  }
}

@media screen and (min-width: 1900px) and (max-width: 1950px) {
  .listCont {
    height: 53vh;
  }
  .new {
    top: -77px;
    left: 82%;
  }
  #popup{
    width: 810px;
    left: 25%;
  }
}
