* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.doorContainer {
  width: 868px;
  height: 599px;
  border-radius: var(--Radius-m, 8px);
  border: 1px solid var(--Color, #fff);
  background: linear-gradient(
    128deg,
    #00478e -5.15%,
    rgba(18, 34, 50, 0.44) 50.3%,
    rgba(201, 117, 252, 0.98) 105.74%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(32px);
  display: flex;
  justify-content: center;
}

.contentContainer {
  width: 94%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.topCont {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

.topLeftDiv {
  width: auto;
  display: flex;
  align-items: center;
  gap: 45px;
}

#swtichbtn {
  background: radial-gradient(
      104.81% 104.81% at 50% 35.58%,
      #0d6904 0%,
      #13c900 100%
    ),
    #43e533;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  cursor: pointer;
}

.topLeftDivdevicecont {
  display: flex;
  gap: 16px;
  align-items: center;
}

.topLeftDivdevicecont > img {
  width: 40px;
  height: 40px;
}

.trdivtextCont {
  display: flex;
  flex-direction: column;
}

#thermdevicename {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 24px; */
  font-size: clamp(0.1041625rem, 0rem + 1.6667vw, 10.4166875rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#thermdeviceplace {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--Color, #fff);
  text-overflow: ellipsis;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.topRightDiv {
  width: auto;
  display: flex;
  gap: 32px;
}

.rightDivEclipse {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottomCont {
  width: 100%;
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
}

.leftbtmCont {
  padding: 57px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
  height: 362px;
}

.shutter-img {
  width: 100%;
  height: 100%;
}

.padlock-img {
  width: 50px;
  height: 50px;
  position: absolute;
  /* bottom: 88px; */
  bottom: 12vh;
  right: 120px;
}


.rightbtmCont {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}

.rbtmtopCont {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  gap: 2vw;
}

.colored {
  background-color: #238efa !important;
}

.chngmodecont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.chngmodebtn {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.rbtmtopCont span {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: 18px;
  /* font-size: clamp(0.07811875rem, 0rem + 1.25vw, 7.8125rem); */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Buttons {
  height: inherit;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Buttons::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.Button {
  width: 30vw;
  height: 7vh;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  /* border: 1px solid black; */
}

.Button:hover {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(88, 88, 88, 0.5);
  box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.2);
}

.Button.selected {
  border-radius: 8px;
  background: linear-gradient(96deg, #0b82f9 0.58%, #00478e 100%);
  backdrop-filter: blur(6.87976598739624px);
  color: white;
}

.Button p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.096px;
}

.circleSvg,
.tickMark {
  display: none;
}

.Button.selected .circleSvg {
  display: inline-block;
  position: absolute;
  right: 18px;
  z-index: 1;
  width: 26px;
  height: 26px;
}
.Button.selected .tickMark {
  display: inline-block;
  position: absolute;
  right: 22px;
  z-index: 1;
  width: 16px;
  height: 16px;
}

.Guestbtns {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.guestButton {
  width: 29.95vw;
  height: 9vh;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  position: relative;
  cursor: pointer;

  color: white;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.87976598739624px);
  margin-bottom: 2vh;
  padding: 1.5vh 1.8vw;
  gap: 1vw;
}

.guestImg {
  width: 24px;
  height: 24px;
}
.guestImg img {
  width: 90%;
}

.guestTexts {
  display: flex;
  flex-direction: column;
}
.guestTexts p {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.07811875rem, 0rem + 1.25vw, 7.8125rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.096px;
  margin-bottom: 1vh;
}
.guestTexts span {
  color: #a9a9a9;
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.096px;
}

    /* Your CSS */
    #passCodeContent {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }

    #passcodeInput {
      color: var(--Color, #fff);
      font-family: Lato;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.096px;

      width: 29vw;
      padding: 10px;
      text-align: left;
      color: white;
      border-radius: 8px;
      border: 1px solid #fff;
      background: #2f3134;
      backdrop-filter: blur(6.87976598739624px);
      outline: none;
    }

    #keypad {
      position: absolute;
      top: 14vh;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      border-radius: 8px 8px 0px 0px;
      background: #131314;
      box-shadow: 0px -12px 36px 0px rgba(0, 0, 0, 0.3);
      padding: 20px 15px 10px 15px;
    }

    button[id^="key"] {
      width: 70px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 10px;
      cursor: pointer;
      color: #c7c7c7;
      text-align: center;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Roboto;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
    }

    button[id^="key"]:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    #keySpace_bar img {
      width: 24px;
      height: 24px;
    }

    #keyEnter {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #keyEnter img.bgBlue {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 10px;
    }

    #keyEnter img.passcodeArrow {
      position: absolute;
      z-index: 2;
      width: 24px;
      height: 24px;
    }

    button[id^="key"]:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    #keyEnter img.bgBlue {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 10px;
    }

    #keyEnter img.passcodeArrow {
      position: relative;
      z-index: 2;
      width: 24px;
      height: 24px;
    }

.rightDivEclipse:hover {
  border-radius: 80px;
  border: 1px solid var(--Foundation-Blue-blue-500, #238efa);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 21px 0px rgba(255, 255, 255, 0.2);
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  .Button {
    width: 21vw;
    height: 5vh;
    padding: 12px 16px;
  }

  .guestButton {
    width: 22vw;
    height: 8vh;
    margin-bottom: 1vh;
  }
  #passcodeInput {
    width: 22vw;
    padding: 11px;
  }

  .padlock-img {
    bottom: 8vh;
    right: 128px;
  }

  #keypad {
    position: absolute;
    top: 12vh;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .Button {
    width: 25vw;
    height: 7vh;
    padding: 12px 16px;
  }
  .guestButton {
    width: 25vw;
    height: 9vh;
    margin-bottom: 1.5vh;
    padding: 1.5vh 1.8vw;
    gap: 1vw;
  }
  #passcodeInput {
    width: 26vw;
    padding: 10px;
  }

  #leftbtmContNew {
  }
  #shutterImg {
    bottom: 35px;
  }

  #padlockImg {
    bottom: 11vh;
  }
}

@media only screen and (max-width: 1080px) {
  .Button {
    width: 22vw;
    height: 5vh;
    padding: 12px 16px;
  }

  .guestButton {
    width: 22vw;
    height: 6vh;
    margin-bottom: 1vh;
  }
}

@media only screen and (max-width: 800px) {
  .Button.selected .circleSvg {
    right: 22px;
    width: 22px;
    height: 22px;
  }
  .Button.selected .tickMark {
    right: 25px;
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 750px) {
  .doorContainer {
    width: 98%;
    height: 576px;
  }

  .rightbtmCont {
    padding: 10px 0;
    gap: 40px;
    width: 45%;
  }

  .rbtmtopCont span {
    font-size: clamp(0.07811875rem, 0rem + 1.25vw, 7.8125rem);
  }
  #swtichbtn {
    width: clamp(0.2257rem, 0rem + 3.6111vw, 22.5695625rem);
    height: clamp(0.2257rem, 0rem + 3.6111vw, 22.5695625rem);
  }
  #swtichbtn > img {
    width: 50%;
  }
  .topLeftDivdevicecont > img {
    width: 20px;
  }
  .rightDivEclipse {
    width: 25px;
    height: 25px;
  }
  .rightDivEclipse > img {
    width: 60%;
  }
  .rbtmtopCont {
    justify-content: flex-start;
    gap: 2.5vw;
  }
  .rbtmbtmCont {
    justify-content: flex-start;
    width: 98%;
  }
  .chngmodebtn {
    width: 60px;
    height: 60px;
  }
  .chngmodebtn img {
    width: 45%;
  }

  .rbtmtopCont span {
    color: var(--Color, #fff);
    font-family: Lato;
    font-size: 14px;
  }

  .guestImg {
    width: 16px;
    height: 16px;
  }

  .Button {
    width: 40vw;
    height: 7vh;
    padding: 12px 16px;
  }

  .guestButton {
    width: 37vw;
    height: 9vh;
    margin-bottom: 3vh;
  }
  .padlock-img {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 16vh;
    right: 105px;
  }

  #passcodeInput {
    width: 40vw;
    padding: 10px;
  }

  #keypad {
    position: absolute;
    top: 16vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 6px;
    border-radius: 8px 8px 0px 0px;
    background: #131314;
    box-shadow: 0px -12px 36px 0px rgba(0, 0, 0, 0.3);
    padding: 20px 10px 10px 10px;
  }
  button[id^="key"] {
    width: 55px;
    height: 40px;
    border-radius: 10px;
  }
}
