.deviceCont {
  border-radius: 8px;
  backdrop-filter: blur(32px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 21.56vw;
  /* height: 37.33vh; */
}

#span85,
#span86,
#span87,
#span88,
#span89,
#span80,
#span811,
#span822 {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
}

#span95,
#span96,
#span97,
#span98,
#span99,
#span90,
#span911,
#span922 {
  overflow: hidden;
  color: var(--Color, #fff);
  text-overflow: ellipsis;
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.statusCont {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 11.17vw;
  height: 21.94vh;
  text-align: center;
}

.statusCont > img {
  width: 100%;
}

.statusCont.updateCarbonMonoBg {
  top: 80px;
}
.statusCont.updateCarbonMono {
  top: 80px;
}

.statusCont.updateCameraDevice {
  top: 10px;
}
.statusCont.updatevacuum {
  top: 30px;
}

.statusText {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 5px;
  border-radius: 4px;

  overflow: hidden;
  color: var(--Color, #fff);
  text-align: center;
  text-overflow: ellipsis;
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.newud {
  width: 22%;
  height: clamp(0.14756875rem, 0rem + 2.3611vw, 14.757rem);
  position: relative;
  border-radius: 20px 8px 0px 20px;
  top: -50px;
  left: 84%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.newud > svg {
  width: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  height: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
}

.newud > span {
  color: #fff;
  font-family: Lato;
  font-size: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dbottomCont {
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.dbLetfCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: max-content;
}

#span129,
#span120,
#span1211,
#span1222,
#span1233,
#span1244,
#span1255,
#span1266,
#span1277,
#span1288,
#span1299,
#span1200,
#span12111,
#span12222,
#span12333,
#span12 {
  color: #a9a9a9;
  text-align: center;
  font-family: Lato;
  font-size: clamp(0.034625rem, 0rem + 0.5556vw, 3.4625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
}
#span120 {
  /* font-size: 12px !important; */
  font-size: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem) !important;
}

#span139,
#span1311,
#span1322,
#span1333,
#span1344,
#span1355,
#span1366,
#span1377,
#span1388,
#span1399,
#span1300,
#span13111,
#span13222,
#span13333,
#span13 {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: clamp(0.0115rem, 0rem + 0.1852vw, 1.15rem);
}

#span130,
#span140 {
  display: none;
}
#span149,
#span140,
#span1411,
#span1422,
#span1433,
#span1444,
#span1455,
#span1466,
#span1477,
#span1488,
#span1499,
#span1400,
#span14111,
#span14222,
#span14333,
#span14 {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dbRightCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: max-content;
}
.ImgDiv {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.imgAboveTextManual img {
  width: 50%;
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
  .newud {
    width: 22%;
    top: -62px;
    left: 84%;
    gap: 5px;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 1400px) {
  .statusCont {
    width: 9vw;
    height: 18vh;
    top: 0px !important;
    text-align: center;
  }

  .statusCont.updatevacuum {
    top: 10px;
  }

  .statusCont.updateCarbonMonoBg {
    top: 80px !important;
  }
  .statusCont.updateCarbonMono {
    top: 80px !important;
  }
  
  .statusCont.updateCameraDevice {
    top: 10px;
  }

  .dbottomCont {
    margin-top: 12px;
  }

  .newud {
    width: 22%;
    top: -52px;}

}
@media only screen and (max-width:1080px) {
  .deviceCont {
    padding: 15px;
    width: 28vw;
    height: max-content;
  }
}
