.deviceCont {
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
  width: 21.56vw;
  height: max-content;
  /* height: 37.33vh; */
}

#span8,
#span9 {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: clamp(0.0259375rem, 0rem + 0.4167vw, 2.59375rem);
}

#span9 {
  font-weight: 400;
}

.new {
  width: 22%;
  height: clamp(0.14756875rem, 0rem + 2.3611vw, 14.757rem);
  position: relative;
  border-radius: 20px 8px 0px 20px;
  background: var(--Color, #fff);
  top: -70px;
  left: 84%;
  color: #1969e0;
  font-family: Lato;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusCont {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 11.17vw;
  height: 21.94vh;
  top: 50px;
  text-align: center; 
}

.statusCont > img {
  width: 100%;
}

.statusText {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 5px;
  border-radius: 4px;

  overflow: hidden;
  color: var(--Color, #fff);
  text-align: center;
  text-overflow: ellipsis;
  font-family: Lato;
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.dbottomContnd {
  width: 115%;
  height: clamp(0.190975rem, 0rem + 3.0556vw, 19.0973125rem);
  background: rgba(50, 50, 50, 0.61);
  position: relative;
  bottom: -15px;
  left: -7%;
}

.inner {
  width: 65%;
  height: clamp(0.190975rem, 0rem + 3.0556vw, 19.0973125rem);
  background: linear-gradient(
    90deg,
    #0b82f9 -10.77%,
    rgba(11, 130, 249, 0) 95.58%
  );
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.inner > span {
  color: var(--Color, #fff);
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 1900px) and (max-width: 1950px) {
  .new {
    top: -95px;
    left: 82%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .new {
    top: -68px;
  }
}

@media only screen and (max-width:1080px) {
  .deviceCont {
    padding: 15px;
    width: 28vw;
    height: max-content;
  }
  .inner {
    width: 100%;

    align-items: center;
    justify-content: center;
  }
  .inner img{
    width: 8%;
  }
  .new {
    top: -45px;
    left: 90%;
    height: 20px;
  }

  .statusCont {
    width: 15vw;
    height: 21.94vh;
    top: 45px;}
}