* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  margin: 1%;
}
.contentContainer {
  position: relative;
  width: 276px;
  height: 276px;
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.topTextContents {
  height: 58px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.topTextContents h2 {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 20px; */
  font-size: clamp(0.0868rem, 0rem + 1.3889vw, 8.6805625rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1%;
}

.topTextContents p {
  overflow: hidden;
  color: var(--Color, #fff);
  text-overflow: ellipsis;
  font-family: Lato;
  font-size: 14px;
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.midContents {
  width: 100%;
  height: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.midImgContents {
  width: 107px;
  height: 100%;

}
.midImgContents img {
  width: 100%;
}

.lowerContents {
  width: 93%;
  position: absolute;
  bottom: 10px;
  height: 58px;
  display: flex;
  justify-content: space-between;
}

.lowerLeft {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 10%;
}

.lowerLeft p {
  color: #aeaeae;
  text-align: center;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2%;
}

.lowerLeft h3 {
  color: var(--Color, #fff);
  font-family: Lato;
  /* font-size: 14px; */
  font-size: clamp(0.0607625rem, 0rem + 0.9722vw, 6.076375rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lowerLeft span {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  /* font-size: 12px; */
  font-size: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lowerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.lowerRightImgCont {
  position: relative;
  width: 40px;
  height: 40px;
}

.base-image {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-image {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.lowerRight p {
  color: #a9a9a9;
  text-align: center;
  font-family: Lato;
  font-size: clamp(0.05208125rem, 0rem + 0.8333vw, 5.2083125rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*  overlay */
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.resolveButton {
  cursor: pointer;
  display: flex;
  width: 113px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #0b82f9;
  border: none;
  outline: none;
}

.resolveButton img {
  width: 16px;
  height: 16px;
}

.resolveButton span {
  color: var(--Color, #fff);
  text-align: center;
  font-family: Lato;
  font-size: clamp(0.0694375rem, 0rem + 1.1111vw, 6.9444375rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.statusCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 150px;
  width: 100%;
}

.statusCont .statusImg {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

.resolveButton .resolveImg {
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  .contentContainer {
    position: relative;
    width: 300px;
    height: 300px;
  }
  .topTextContents {
    height: 60px;
  }
  .midContents {
    width: 100%;
    height: 130px;
  }
  .lowerContents {
    width: 93%;
    bottom: 10px;
    height: 70px;
  }
  .lowerRight p {
    font-size: 14px;
  }
  .statusCont .statusImg {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  .resolveButton {
    cursor: pointer;
    display: flex;
    width: 113px;
    padding: 6px 12px;
  }
  .topTextContents h2 {
    font-size: 20px;
  }
  .topTextContents p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1080px) {
  .contentContainer {
    position: relative;
    width: 200px;
    height: 200px;
  }
  .topTextContents {
    height: 30px;
  }
  .midContents {
    width: 100%;
    height: 90px;
  }
  .midImgContents img {
    width: 80%;
  }
  .lowerContents {
    width: 90%;
    bottom: 10px;
    height: 40px;
  }
  .lowerRightImgCont {
    position: relative;
    width: 30px;
    height: 30px;
  }

  .base-image {
    width: 26px;
    height: 26px;
  }

  .overlay-image {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 3px;
    left: 3px;
  }
  .resolveButton {
    cursor: pointer;
    display: flex;
    width: 80px;
    padding: 4px 8px;
  }
}
